
#event_detail {
    position : relative;
    color : black;
    height: 100vh;
    width : 100vw;
    background-color: white;
}
.button_column {
    float: left;
    width: 50%;
    padding-top : 25px;
    padding-bottom: 25px;
}

.CloseButton {
    border : none;
    font-size: 20px;
    background-color: white;
}

#left_column {
    border-bottom-left-radius: 20px;
}

#right_column {
    border-bottom-right-radius: 20px;
}
.button_column:hover {
    cursor : pointer;
    background-color: #ddd;
    transition : 0.3s linear;
    
}
#title {
    margin : 25px;
    font-size : 1.5em;
    font-weight: 600;
}

#like_icon {
    margin : 25px;
}

h2, h3, h4 {
    margin: 25px;
}

#participantsList {
    margin :25px;
}

.buttons {
    display : inline;
}

#button_group {
    text-align: center;
    width : 100%;
    margin-top : 10px;
    position : absolute;
    bottom : 0px;
}

.cross1{
    height: 25px;
    width: 1.5px;
    border-radius: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.cross2 {
    height: 25px;
    width: 1.5px;
    border-radius: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
}

.Xmark {
    width: 25px;
    height: 25px;
    margin : 10px;
}