
#event_detail {
    position : relative;
    color : black;
    height: 100vh;
    width : 100vw;
    background-color: white;
}
.button_column {
    float: left;
    width: 50%;
    padding-top : 25px;
    padding-bottom: 25px;
}

.DetailBody {
    padding-top : 1vw;
    background-color: #f0f0f0;
    height : 100vh;
}

.MainContent {
    padding : 5vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

.Poster {
}

.Content {

}

.ParticipantList {
    padding : 2vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

.ParticipantCount {
    font-size : 4vw;
}

.CommunityTab {
    padding : 5vw;
}

.CloseButton {
    border : none;
    font-size: 20px;
    background-color: white;
}

#left_column {
    border-bottom-left-radius: 20px;
}

#right_column {
    border-bottom-right-radius: 20px;
}
.button_column:hover {
    cursor : pointer;
    background-color: #ddd;
    transition : 0.3s linear;
    
}
#title {
    font-size : 4vw;
    font-weight: 600;
    margin : 0px;
    padding-top : 1vw;
    padding-bottom : 1.5vw;
    padding-left : 5vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

#author {
    font-size : 3vw;
    font-weight: 300;
    margin : 0px;
    padding-top : 1vw;
    padding-bottom : 1.5vw;
    padding-left : 5vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

#like_icon {
    margin : 25px;
}


#participantsList {
    margin :25px;
}

.buttons {
    display : inline;
}

#button_group {
    text-align: center;
    width : 100%;
    margin-top : 10px;
    position : absolute;
    bottom : 0px;
}


.cross1 {
    height: 6vw;
    width: 0.3vw;
    border-radius: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
}

.cross2 {
    height: 6vw;
    width: 0.3vw;
    border-radius: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
}

.Xmark {
    width: 6vw;
    height: 6vw;
    margin : 2vw;
}