
#event_detail {
    position : relative;
    color : black;
    height: 100vh;
    width : 100vw;
    background-color: white;
}
.DetailBody {
    padding-top : 1vw;
    background-color: #f0f1f3;
    height : 100vh;
}

.MainContent {
    padding : 5vw;
    border-bottom : solid #d8d8d8;
    border-width : thin;
}

.Poster {
}

.Content {

}

.ParticipantList {
    padding : 2vw;
    border-bottom : solid #d8d8d8;
    border-width : thin;
}

.ParticipantCount {
    font-size : 4vw;
}

.CommunityTabButton{
    width : 100vw;
    height : 10vw;
}

.CommentORQnA {
}

.CommunityTab {
    padding : 3vw;
    width : 100vw;
    height : 100%;
}

.Footer {
    background-color: white;
    position : absolute;
    bottom : 0;
    padding-left : 5vw;
    padding-right : 5vw;
    width : 100vw;
    padding-top : 2vw;
}

.CloseButton {
    border : none;
    font-size: 20px;
    background-color: white;
}
#title {
    font-size : 4vw;
    font-weight: 600;
    margin : 0px;
    padding-top : 1vw;
    padding-bottom : 1.5vw;
    padding-left : 5vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

#author {
    font-size : 3vw;
    font-weight: 300;
    margin : 0px;
    padding-top : 1vw;
    padding-bottom : 1.5vw;
    padding-left : 5vw;
    border-bottom : solid #d3d3d3;
    border-width : thin;
}

#commentButton {
    line-height: 7vw;
    text-align : center;
    float : left;
    border-radius: 2vw;
    font-size : 3.5vw;
    color: #f0f1f3; 
    height : 8vw;
    width : 14vw;
    background-color: #81848e;
    border : solid 0.3vw #81848e;
    margin-right : 2vw;
}
#commentButton:active {
    background-color: #f0f1f3;
    color: #81848e;
}

#QnAButton {
    line-height: 7vw;
    text-align : center;
    float : left;
    border-radius: 2vw;
    font-size : 3.5vw;
    color: #81848e; 
    height : 8vw;
    width : 14vw;
    background-color: #f0f1f3;
    border : solid 0.3vw #81848e;
    margin-right : 2vw;
}

*:focus {
    outline: none;
}

#QnAButton .TabActivate {
    background-color: #81848e;
    color: #f0f1f3;
}

#QnAButton:active {
    background-color: #81848e;
    color: #f0f1f3;
}

.cross1 {
    height: 6vw;
    width: 0.3vw;
    border-radius: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
}

.cross2 {
    height: 6vw;
    width: 0.3vw;
    border-radius: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
}

.Xmark {
    width: 6vw;
    height: 6vw;
    margin : 2vw;
}