#event_modal_background {
    position : fixed;
    top: 0;
    left: 0;
    cursor : default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index : 900;
    background-color: rgba(0, 0, 0, 0.5);
}

#event_modal {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    z-index: 1000;
    background-color: white;
}

#event_date {
    color : black;
    text-align: left;
    font-weight: 500;
    font-size : 4vw;
    width : 70vw;
    height : 5vw;
    margin : 6vw;
}

