
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Nanum'; src: url('../../fonts/NanumGothic.woff') format('woff'); font-weight: normal; font-style: normal; }
span {
    font-family: Nanum;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    vertical-align: middle;
}

.days {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.CalendarDays {
    color: red;
    font-family: Nanum;
    display: grid;
    grid-template-rows: repeat(5, calc(150vw / 7));
    grid-template-columns: repeat(7, calc(100vw / 7));
}