a{
    color: #A57E7E;
}

a:hover{
    cursor : pointer;
    background-color: #D8D8D8;
    color: #A57E7E;
}

a:active{
    background-color: #D8D8D8;
}

.event {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    background-color: #CEF6E3;
    text-overflow: ellipsis;
    margin-right: 10%;
    margin-left: 10%;
    height : 1rem;

}
.event_study {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    background-color: #FFCD12;
    text-overflow: ellipsis;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0.2rem;
}