a{
    color: #A57E7E;
}

a:hover{
    background-color: #D8D8D8;
    color: #A57E7E;
}

a:active{
    background-color: #D8D8D8;
}

.event {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    background-color: #CEF6E3;
    text-overflow: ellipsis;
    padding: 5px;
    margin-bottom: 0px;
}
.event_study {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    background-color: #FFCD12;
    text-overflow: ellipsis;
    padding: 5px;
    margin-bottom: 0px;
}